name: CI Check - Langystin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black ruff pytest

      - name: Lint code with ruff
        run: ruff check .

      - name: Check code format with black
        run: black --check .

      - name: Run tests with pytest
        run: pytest tests
